<h1><%= current_user.email %>'s to do list.</h1>

<%= render partial: 'items/form', locals: {item: @item} %>

<ol>
	<% current_user.items.each do |item|  %>
		<li><%= item.name %></li>
	<% end -%>
</ol>