<h1><%= current_user.email %>'s to do list.</h1>
<div class="new-item">
	<%= render partial: 'items/form', locals: {item: @item} %>
</div>

<ol class="js-items">
	<%= render current_user.items %>
</ol>